# Introducción a Pandas

In [6]:
import pandas as pd 
import numpy as np

#  Series (columnas)

In [3]:
#serie= pd.Serie(list)

Una serie es diferente a una lista, recibe una lista como argumento.
Para iterar una serie es igual a una lista.
Una serie me permite elegir los índices que yo quiera.

In [22]:
lista = list(np.arange(0,10))

serie = pd.Series(["Za",3,4,5],index=[1,"casa",5,'MARIA'])
print(serie)

1        Za
casa      3
5         4
MARIA     5
dtype: object

In [23]:
#Operaciones entre series

serie*2

1        ZaZa
casa        6
5           8
MARIA      10
dtype: object

In [25]:
#Acceder a elementos
serie[1]

'Za'

In [31]:
serie[1:] #recorre desde la segunda posición hasta la última

casa     3
5        4
MARIA    5
dtype: object

In [34]:
serie[:2] #recorre desde la primera posición hasta la tercera posición

1       Za
casa     3
dtype: object

# DataFrames

In [35]:
dic = {"name":["Juan","Lola"],"age":[21,3],"city":["Hamburg","Bogotá"]}

In [37]:
pd.DataFrame(dic,index=[54,7]) #Puedo elegir el índice que yo quiera!

    name  age     city
54  Juan   21  Hamburg
7   Lola    3   Bogotá

# Leer documentos

In [38]:
ruta="C:/Users/USA/Downloads/winequality-red.csv"

In [51]:
archivo=pd.read_csv(ruta) #CSV
archivo

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

Así mismo se pueden leer excel, sql etc.

In [50]:
#Leer TXT
ruta2="C:/Users/USA/Downloads/pokemon_data.txt"
pd.read_csv(ruta2,sep="\t")
#El \t es el espacio por el que están separados los datos

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
En el anterior link se puede hallar más información de los separadores

# Moverse en dataframes

In [60]:
ruta="C:/Users/USA/Downloads/winequality-red.csv"
archivo=pd.read_csv(ruta) #CSV

#Columnas:
archivo[["alcohol","quality"]]#Accede a las dos columnas llamadas xoy

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 2 columns]

In [62]:
#Filas
"""Si quiero ver el dato de la fila 4 de la columna llamada alcohol uso LOC"""
archivo['alcohol'].loc[4]

9.4

In [68]:

"""Los nombres de las columnas aparecen a la izq y el 
dato toda la fila 4 a parecen junto a el nombre"""
archivo.loc[2]

fixed acidity            7.800
volatile acidity         0.760
citric acid              0.040
residual sugar           2.300
chlorides                0.092
free sulfur dioxide     15.000
total sulfur dioxide    54.000
density                  0.997
pH                       3.260
sulphates                0.650
alcohol                  9.800
quality                  5.000
Name: 2, dtype: float64

inplace=True es muy importante pues al hacer ciertas operaciones como añadir o remover datos por lo general no se guarda como una nueva variable. Al hacer inplace=True, estas operaciones se irán guardando en el nuevo dataframe sin tener que declarar una nueva variable.

In [72]:

#Eliminar columnas
archivo.drop(columns="alcohol")

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,5
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,6

In [78]:
archivo #Al imprimir otra vez el frame aún aparece alcohol
        #porque no se uso el inplace

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [75]:
archivo.drop(2) #elimina la fila 2

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

Más info en https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

# Filtros / operaciones lógicas

In [89]:
#Elegir los vinos con azúcar < 2.2
archivo["residual sugar"]<2.2

0        True
1       False
2       False
3        True
4        True
        ...
1594     True
1595    False
1596    False
1597     True
1598    False
Name: residual sugar, Length: 1599, dtype: bool

In [94]:
archivo[archivo["residual sugar"]<1.5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
7,7.3,0.650,0.00,1.2,0.065,15.0,21.0,0.99460,3.39,0.47,10.000000,7
25,6.3,0.390,0.16,1.4,0.080,11.0,23.0,0.99550,3.34,0.56,9.300000,5
49,5.6,0.310,0.37,1.4,0.074,12.0,96.0,0.99540,3.32,0.58,9.200000,5
94,5.0,1.020,0.04,1.4,0.045,41.0,85.0,0.99380,3.75,0.48,10.500000,4
161,7.6,0.680,0.02,1.3,0.072,9.0,20.0,0.99650,3.17,1.08,9.200000,4
198,5.4,0.835,0.08,1.2,0.046,13.0,93.0,0.99240,3.57,0.85,13.000000,7
200,9.6,0.320,0.47,1.4,0.056,9.0,24.0,0.99695,3.22,0.82,10.300000,7
354,6.1,0.210,0.40,1.4,0.066,40.5,165.0,0.99120,3.25,0.59,11.900000,6
390,5.6,0.850,0.05,1.4,0.045,12.0,88.0,0.99240,3.56,0.82,12.900000,8
405,8.7,0.310,0.46,1.4,0.059,11.0,25.0,0.99660,3.36,0.76,10.100000,6
428,9.1,0.520,0.33,1.3,0.070,9.0,30.0,0.99780,3.24,0.60,9.300000,5
469,8.7,0.820,0.02,1.2,0.070,36.0,48.0,0.99520,3.20,0.58,9.800000,5
635,8.7,0.840,0.00,1.4,0.065,24.0,33.0,0.99540,3.27,0.55,9.700000,5
657,12.0,0.500,0.59,1.4,0.073,23.0,42.0,0.99800,2.92,0.68,10.500000,7
658,7.2,0.520,0.07,1.4,0.074,5.0,20.0,0.99730,3.32,0.81,9.600000,6
660,7.2,0.520,0.07,1.4,0.074,5.0,20.0,0.99730,3.32,0.81,9.600000,6
695,5.1,0.470,0.02,1.3,0.034,18.0,44.0,0.99210,3.90,0.62,12.800000,6
909,7.3,0.305,0.39,1.2,0.059,7.0,11.0,0.99331,3.29,0.52,11.500000,6
914,7.3,0.305,0.39,1.2,0.059,7.0,11.0,0.99331,3.29,0.52,11.500000,6
937,12.0,0.630,0.50,1.4,0.071,6.0,26.0,0.99791,3.07,0.60,10.400000,4
979,12.2,0.450,0.49,1.4,0.075,3.0,6.0,0.99690,3.13,0.63,10.400000,5
984,12.2,0.450,0.49,1.4,0.075,3.0,6.0,0.99690,3.13,0.63,10.400000,5
986,9.8,0.340,0.39,1.4,0.066,3.0,7.0,0.99470,3.19,0.55,11.400000,7
998,8.9,0.840,0.34,1.4,0.050,4.0,10.0,0.99554,3.12,0.48,9.100000,6
1017,8.0,0.180,0.37,0.9,0.049,36.0,109.0,0.99007,2.89,0.44,12.700000,6
1018,8.0,0.180,0.37,0.9,0.049,36.0,109.0,0.99007,2.89,0.44,12.700000,6
1045,6.9,0.440,0.00,1.4,0.070,32.0,38.0,0.99438,3.32,0.58,11.400000,6
1051,8.5,0.460,0.59,1.4,0.414,16.0,45.0,0.99702,3.03,1.34,9.200000,5
1080,10.3,0.270,0.56,1.4,0.047,3.0,8.0,0.99471,3.16,0.51,11.800000,6
1110,8.3,0.530,0.00,1.4,0.070,6.0,14.0,0.99593,3.25,0.64,10.000000,6
1122,6.3,0.470,0.00,1.4,0.055,27.0,33.0,0.99220,3.45,0.48,12.300000,6
1161,8.8,0.450,0.43,1.4,0.076,12.0,21.0,0.99551,3.21,0.75,10.200000,6
1219,9.0,0.390,0.40,1.3,0.044,25.0,50.0,0.99478,3.20,0.83,10.900000,6
1253,7.9,0.660,0.00,1.4,0.096,6.0,13.0,0.99569,3.43,0.58,9.500000,5
1298,5.7,0.600,0.00,1.4,0.063,11.0,18.0,0.99191,3.45,0.56,12.200000,6
1309,7.0,0.620,0.10,1.4,0.071,27.0,63.0,0.99600,3.28,0.61,9.200000,5
1316,5.4,0.740,0.00,1.2,0.041,16.0,46.0,0.99258,4.01,0.59,12.500000,6
1321,5.0,0.740,0.00,1.2,0.041,16.0,46.0,0.99258,4.01,0.59,12.500000,6
1336,6.0,0.500,0.00,1.4,0.057,15.0,26.0,0.99448,3.36,0.45,9.500000,5
1337,6.0,0.500,0.00,1.4,0.057,15.0,26.0,0.99448,3.36,0.45,9.500000,5
1338,6.0,0.500,0.00,1.4,0.057,15.0,26.0,0.99448,3.36,0.45,9.500000,5
1359,11.6,0.475,0.40,1.4,0.091,6.0,28.0,0.99704,3.07,0.65,10.033333,6
1362,11.6,0.475,0.40,1.4,0.091,6.0,28.0,0.99704,3.07,0.65,10.033333,6
1374,6.8,0.815,0.00,1.2,0.267,16.0,29.0,0.99471,3.32,0.51,9.800000,3
1376,8.2,0.885,0.20,1.4,0.086,7.0,31.0,0.99460,3.11,0.46,10.000000,5
1392,7.1,0.620,0.06,1.3,0.070,5.0,12.0,0.99420,3.17,0.48,9.800000,5
1424,8.3,0.260,0.37,1.4,0.076,8.0,23.0,0.99740,3.26,0.70,9.600000,6
1425,8.3,0.260,0.37,1.4,0.076,8.0,23.0,0.99740,3.26,0.70,9.600000,6
1470,10.0,0.690,0.11,1.4,0.084,8.0,24.0,0.99578,2.88,0.47,9.700000,5
1494,6.4,0.310,0.09,1.4,0.066,15.0,28.0,0.99459,3.42,0.70,10.000000,7

In [99]:
a=archivo[archivo["residual sugar"]<1.5]
print("Solo {} vinos cumplen este requisito.".format(len(a)))

Solo 50 vinos cumplen este requisito.

In [87]:
archivo[(archivo["pH"]>3.49)&(archivo["quality"]>5)]
#Me elige los vino con calidad > 5 y con pH > 3.49

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
77,6.8,0.785,0.00,2.4,0.104,14.0,30.0,0.99660,3.52,0.55,10.7,6
95,4.7,0.600,0.17,2.3,0.058,17.0,106.0,0.99320,3.85,0.60,12.9,6
142,5.2,0.340,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6
144,5.2,0.340,0.00,1.8,0.050,27.0,63.0,0.99160,3.68,0.79,14.0,6
149,8.2,0.400,0.44,2.8,0.089,11.0,43.0,0.99750,3.53,0.61,10.5,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1573,6.0,0.580,0.20,2.4,0.075,15.0,50.0,0.99467,3.58,0.67,12.5,6
1577,6.2,0.700,0.15,5.1,0.076,13.0,27.0,0.99622,3.54,0.60,11.9,6
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6

In [106]:
#Cambiar un valor
#Cambiar el valor de la fila 4 col alcohol a 11

archivo.loc[4,"alcohol"]=11
archivo

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,11.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

# Análisis estadístico rápido

In [101]:
archivo.describe() #Me da todo un análisis de los datos

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000